:root {
    --main-color: #212c42;
    --sec-main-color: #a3ea2a;
    --alt-color: #151c2b;
    --font-color: rgba(255, 255, 255, 0.5);
    --font-color-hover: rgba(255, 255, 255, 0.75);
    --main-transition: 0.5s;
}


* {
    margin: 0;
    box-sizing: border-box;
    font-weight: 600;
}

body {
    font-family: 'poppins', 'sans-serif';
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    margin: 0 10px;
    padding: 15px;
}

.section {
    padding-top: 100px;
    padding-bottom: 70px;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


/* Extra small */
@media (min-width: 0px) {
    .container {
        max-width: 100%;
    }
}


/* small */
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}


/*  Medium */
@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }
}

/* Large */
@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}

/* X-Large */
@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

/* Start Header */
.header {
    background-color: var(--main-color);
    color: white;
    position: sticky;
    width: 100%;
    z-index: 4;
}

.header .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .row .fa-bars {
    display: none;
    color: var(--font-color);
}

@media (max-width: 991px) {
    .header .row .fa-bars {
        display: block;
    }

}

.header .row .sidebar_links .fa-xmark {
    color: var(--font-color);
    float: right;
    padding: 10px;
}

.header .row .sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    display: none;
    height: 100vh;
    width: min-content;
    padding: 20px 20px;
    background-color: var(--main-color);
    transition: var(--main-transition);
}

@media (max-width: 991px) {
    .header .row .sidebar {
        display: block;
    }
}

.header .row .sidebar_links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.header .row .sidebar_links a {
    width: 100%;
    padding: 15px;
    transition: var(--main-transition);

}


.header .row .sidebar_links a i:not(.fa-xmark) {
    margin-right: 20px;
}

.header .row .logo_links,
.header .row .profile_links {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

@media (max-width: 991px) {
    .header .row .logo_links {
        display: none;
    }

}

.header .row .logo_links img,
.header .row .sidebar_links img {
    width: 60px;
}

.header .row a,
.header .row,
.header .row button {
    font-size: 18px;
    color: var(--font-color);
    background-color: transparent;
    border: none;
    text-align: center;
    transition: var(--main-transition);
}

.header .row a:hover {
    color: var(--font-color-hover);
}


.header .row .logo_links a i {
    margin: 0 auto 5px;
    display: block;
    width: auto;
}

.header .profile {
    position: relative;
    border: 2px solid rgba(82, 90, 106) !important;
    width: 56px;
    height: 56px;
    padding: 0;
    border-radius: 50%;
    margin-left: 25px;
}

.header .profile:hover {
    border: 2px solid var(--sec-main-color) !important;
}

.header .profile img {
    background-color: rgba(44, 50, 62);
    width: 100%;
    border-radius: 100%;

}

/* End Header */

/* Start Footer */
.footer {
    padding: 22px 0;
    border-top: 2px solid rgb(238, 239, 242);
}

.footer .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .row .copyright {
    font-size: 16px;
    color: rgb(82, 90, 106);
    font-weight: lighter;
}

.footer .row .links ul {
    display: flex;
    justify-content: end;
    align-items: center;
}

.footer .row .links ul li a {
    padding-left: 0;
    padding-right: 0;
}

.footer .row .links ul li a i {
    color: white;
    background-color: rgb(212, 216, 223);
    border-radius: 30%;
    padding: 5px;
}

/* End Footer */